div#home-login{
	width: 800px;
	margin: 75px auto;
	text-align: center;
}

#home-login p{
	margin-top: 25px;
	margin-bottom: 0;
}

form a:hover{
	color: #222;
}
a:hover{
	color: #fff;
}

form {
	width: 350px;
	margin: auto;
	text-align: center;
	background: #eee;
	border-radius: 3px;
	box-shadow: 0 0 30px rgba(0,0,0, 1); 
	text-align: center;
	padding-top: 1px;
	padding-bottom: 40px;
}

form h2{
	color: #222;
	margin: 20px 0px 15px 0px;
}

input{
	width: 292px;
	margin-top: 10px;
	height: 40px;
}

input[type=submit]{
	width: 300px;
}

label{
	display: none;
}

form .error {
	background: inherit;
}